.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.main {
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}



.footer {
  background-color: #7a7b7c;
  color: rgb(243, 236, 236);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center; /* ensures horizontal centering */
}

.footer p {
  margin: 0; /* removes any default spacing */
  color: rgb(243, 236, 236);
}
