/* src/components/CommentList/CommentList.module.css */
.commentList {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.noComments {
  font-style: italic;
  color: gray;
}